Order <a href="?order={{ order == 'ASC' ? 'DESC' : 'ASC' }}">ASC/DESC</a>

{{order}}
<hr>
{% for record in records %}
    <p>
        <b class="text-primary">{{ record.nick }}</b>
        <span class="text-secondary">(#{{ record.id }} | {{ record.timestamp|date('Y.m.d H:i:s') }})</span>
        <br>
        <b>{{ record.msg }}</b>
        <br>
        <a href="/edit/{{ record.id }}">EDIT</a> | <a href="/delete/{{ record.id }}">DELETE</a>
    </p>
    <hr>
{% endfor %}


<nav aria-label="...">
    <ul class="pagination">

        {% if previous_page %}
            <li class="page-item">
                <a class="page-link" href="/{{ previous_page }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}

        <li class="page-item active">
          <span class="page-link">
            {{ page }}
            <span class="sr-only">(current)</span>
          </span>
        </li>

        {% if next_page %}
            <li class="page-item">
                <a class="page-link" href="/{{ next_page }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        {% endif %}

    </ul>
</nav>